html, body {
	margin: 0;
	padding: 0;

}

body {
	height:100%;
	
	margin: 0;
	padding: 0;
	font-family: Monaco;
}

body#summer{
	background-color:yellow;
}

section#section{
	background-color: yellow;
}

#summer#wrap#{
	
}

#summer header{
	background-color: yellow;
	color:blue;
	text-align: center;
	font-size: 450%;
	font-weight: bold;
}

.summertree2 {
	width: 45%;
	float: right;
	overflow:auto;
}

body#fall{
	background:orange;
}

#fall#wrap#{
	width: 70%;
	margin: 0 auto;
	background-color: orange;
}

#fall header{
	background-color: orange;
	color:brown;
	text-align: center;
	font-size: 450%;
	font-weight: bold;
	
}

.falltree2 {
	width: 45%;
	float: right;
	overflow: auto;
}

body#winter{
	background:teal;
}

#winter#wrap#{
	
}

#winter header{
	background-color: teal;
	color: white;
	text-align: center;
	font-size: 450%;
	font-weight: bold;
}

.wintertree2 {
	width: 45%;
	float: right;
	overflow: auto;
}

body#spring{
	background:lime;
}

#spring#wrap#{
	
}

#spring header{
	text-align: center;
	font-size: 450%;
	color: yellow;
	background: lime;
	font-weight: bold;
}

.springtree2 {
	width: 45%;
	float: right;
	overflow: auto;
}


#wrap {
	width: 70%;
	margin: 0 auto;
	
}

#seasons header {
	text-align: center;
	font-size: 450%;
	color: black;
	font-weight: bold;
	
	
}

body#seasons{
	background-color: #b7f277;
	
}

.seasonstree2 {
	width: 30%;
	float: right;
	overflow: auto;
}

nav{
	background-color: black;
	text-align: center; 
	padding: 10px 0;
	font-family: Monaco;
}

nav a {
	color: white;
	padding: 10px 30px;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	color: red;
	background-color: blue;
	font-weight: bold;
}

nav li {
	display: inline;
}

nav ul {
	padding: 0;
	margin: 0;
}

section {
	
}

footer {
	background-color: black;
	color: white;
	text-align: center;
	font-weight: bold;
	padding: 10px 0;
}